/* Marquee.css */

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

/* Adjust the size and styling of your logos */
.logo {
  width: 100px; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}
